---
import LinkBlend from "@components/global/LinkBlend.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section id="hero" class="section dark-section hero min-h-screen">
	<div class="mx-auto flex h-full flex-col">
		<div class="relative flex flex-1 flex-col justify-center gap-8 rounded-lg py-10 pb-28 md:gap-20 md:pb-10 lg:rounded-2xl">
			<div class="flex justify-center">
				<h1 class="sr-only">curated noise</h1>
				<!--?xml version="1.0" encoding="utf-8"?-->
				<!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<?xml version="1.0" encoding="UTF-8"?>
<svg 
  version="1.1"
  id="cn-logo" 
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" 
  viewBox="0 0 1333.5 196"
  enable-background="new 0 0 1333.5 196"
  class="title-svg w-[min(90rem,90vw)]"
  xml:space="preserve">

  <g id="C">
    <defs>
      <path
        id="C_Mask" 
        d="M57.18,148.99c-15.19,0-27.15-4.8-35.92-14.36-8.77-9.61-13.13-23.08-13.13-40.43s4.46-31.46,13.33-41.46,21.12-15,36.76-15c12.45,0,22.59,3.23,30.38,9.75,7.79,6.52,12.59,15.68,14.36,27.59h-17.84c-2.89-14.36-11.76-21.56-26.66-21.56-20.93,0-31.41,13.28-31.41,39.79,0,12.59,2.7,22.35,8.09,29.36,5.39,6.96,13.08,10.49,23.08,10.49,14.9,0,23.96-7.94,27.1-23.82h17.64c-1.91,12.74-6.76,22.49-14.56,29.36s-18.18,10.29-31.22,10.29Z"/>
    </defs>
    <clipPath id="C_Mask_Path">
      <use xlink:href="#C_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="C_Path"
      clip-path="url(#C_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M94.12,109.34c-7.58,17.2-14.47,32.37-35.15,33.05-20.67.69-43.65-19.05-42.96-48s14.69-48.48,39.04-48.48,39.06,13.09,39.06,29.17"/>
  </g>

  <g id="U">
    <defs>
      <path
        id="U_Mask" 
        d="M198.77,99.34v-58.91h18.87v105.9h-17.64v-15c-7.65,11.76-19.5,17.64-35.48,17.64-11.22,0-19.99-3.09-26.37-9.21-6.32-6.17-9.56-14.8-9.56-25.88V40.44h18.87v69.79c0,14.9,7.01,22.4,21.12,22.4,8.92,0,16.17-2.79,21.76-8.33,5.59-5.54,8.43-13.87,8.43-24.94Z"/>
    </defs>
    <clipPath id="U_Mask_Path">
      <use xlink:href="#U_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="U_Path"
      clip-path="url(#U_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M138,40.44v73.98c0,22.01,16.31,28,28.72,28s42.04-18.85,42.04-30.34V40.44v105.9"/>
  </g>

  <g id="R">
    <defs>
      <path
        id="R_Mask" 
        d="M302.61,37.54c2.06,0,3.33.1,3.92.2v18.48c-.98-.15-3.23-.2-6.76-.2-7.65,0-14.51,2.89-20.53,8.63-6.13,5.73-9.46,13.67-9.85,23.82v57.88h-18.87V40.44h17.64v21.37c7.4-16.12,18.87-24.21,34.45-24.21v-.05Z"/>
    </defs>
    <clipPath id="R_Mask_Path">
      <use xlink:href="#R_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="R_Path"
      clip-path="url(#R_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M259.29,40.44v105.9-62.98s16.62-36.5,47.24-37.44"/>
  </g>

  <g id="A">
    <defs>
      <path
        id="A_Mask" 
        d="M418.37,132.37h3.09v13.97h-10.05c-11.37,0-17.45-5.19-18.23-15.58-3.72,5.64-8.92,10.05-15.58,13.33-6.71,3.28-14.31,4.95-22.79,4.95-11.08,0-19.75-2.7-26.07-8.14-6.27-5.39-9.46-12.94-9.46-22.64,0-18.87,12.06-29.89,36.12-33.03l27.1-3.48c5.05-.54,7.6-3.19,7.6-7.99v-4.51c0-10.98-7.94-16.42-23.82-16.42-7.94,0-13.77,1.42-17.54,4.31-3.77,2.89-5.93,7.74-6.47,14.56h-18.67c1.76-22.98,16.47-34.45,44.11-34.45s41.46,11.27,41.46,33.86v52.14c0,3.43.69,5.83,2.06,7.2s3.77,2.06,7.2,2.06l-.05-.15ZM358.23,134.43c8.63,0,16.07-2.5,22.35-7.6s9.46-10.98,9.46-17.64v-14.8l-31.61,4.7c-13.67,2.06-20.53,8.14-20.53,18.23,0,5.34,1.81,9.51,5.44,12.55s8.58,4.51,14.9,4.51v.05Z"/>
    </defs>
    <clipPath id="A_Mask_Path">
      <use xlink:href="#A_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="A_Path"
      clip-path="url(#A_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M332.34,71.7s1.61-18.9,11.03-23.03,40.89-9.42,49.16,2.3,12.18,54.99,7.58,63.45-32.62,29.13-42.96,29.36-30.09-7.81-30.32-23.43c-.23-15.62,19.3-27.85,35.15-28.4,15.85-.55,27.11-4.22,34.69-3.53s.46,42.19,4.36,46.02,20.43,5.44,20.43,5.44"/>
  </g>

  <g id="T">
    <defs>
      <path
        id="T_Mask" 
        d="M492.66,54.99l-24.21-.83v66.06c0,3.97.74,6.66,2.16,8.14s4.17,2.16,8.14,2.16h13.72v15.78h-19.31c-8.23,0-14.21-1.91-17.94-5.64-3.77-3.77-5.64-9.75-5.64-17.94V54.16l-15.78.83v-14.6l15.78.64V7.99h18.87v33.23l24.21-.83v14.6Z"/>
    </defs>
    <clipPath id="T_Mask_Path">
      <use xlink:href="#T_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="T_Path"
      clip-path="url(#T_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M492.66,138.95c-27.54,0-34.89-2.76-34.89-21.59V7.99v39.53h-23.96,58.86"/>
  </g>

  <g id="E">
    <defs>
      <path
        id="E_Mask" 
        d="M607.34,90.91v6.96h-79.39c.25,11.47,3.19,20.29,8.82,26.37,5.64,6.08,13.33,9.12,23.18,9.12,14.65,0,24.41-7.06,29.36-21.12l17.25,2.06c-3.28,10.98-9.07,19.41-17.35,25.43-8.28,6.03-18.23,9.02-29.85,9.02-15.73,0-27.98-5.19-36.76-15.58-9.02-10.29-13.53-23.67-13.53-40.23s4.46-29.89,13.33-40.04c8.77-10,20.93-15,36.51-15s26.71,4.7,35.38,14.16,13.04,22.35,13.04,38.76v.1ZM580.09,61.36c-5.34-5.34-12.3-7.99-20.93-7.99s-15.54,2.6-21.12,7.79c-5.49,5.34-8.77,13.08-9.85,23.18h61.55c-1.23-9.85-4.46-17.5-9.65-22.98Z"/>
    </defs>
    <clipPath id="E_Mask_Path">
      <use xlink:href="#E_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="E_Path"
      clip-path="url(#E_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M597.58,113.22c-6.12,11.49-16.92,31.01-37.59,28.94-20.67-2.07-47.09-20.5-42.73-50.22,4.36-29.72,14.83-48.83,39.92-48.12s41.86,21.8,43.01,37.93-12.18,8.5-28.26,9.19c-16.08.69-54.67,1.01-54.67,1.01"/>
  </g>

  <g id="D">
    <defs>
      <path
        id="D_Mask" 
        d="M705.64,53.13V.2h18.87v146.09h-16.42v-16.86c-3.28,5.88-7.94,10.54-13.97,13.97-6.03,3.43-12.69,5.15-20.09,5.15-14.11,0-25.29-5.34-33.67-15.98-8.33-10.39-12.55-24.01-12.55-40.87,0-15.88,4.26-28.82,12.74-38.76,8.48-9.85,19.5-14.8,33.03-14.8s24.6,5,32,15h.05ZM654.53,121.3c5.19,7.4,12.3,11.08,21.37,11.08s16.42-3.63,22.15-10.88,8.63-17.05,8.63-29.36-2.74-21.37-8.23-27.88c-5.44-6.57-12.84-9.85-22.15-9.85s-16.71,3.23-21.86,9.75-7.69,15.68-7.69,27.59,2.6,22.3,7.79,29.55h0Z"/>
    </defs>
    <clipPath id="D_Mask_Path">
      <use xlink:href="#D_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="D_Path"
      clip-path="url(#D_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M717.12,146.29L715.28.2l1,79.71s-12.45-32.56-38.45-34.46-42.73,23.89-43.42,36.07c-.69,12.18,4.59,49.39,23.89,54.21,19.3,4.82,33.08,7.35,43.42-5.51s14.95-19.29,14.95-19.29"/>
  </g>

  <!-- SECOND WORD -->

  <g id="N">
    <defs>
      <path
        id="N_Mask" 
        d="M865.95,37.74c11.22,0,19.99,3.09,26.37,9.21s9.56,14.75,9.56,25.88v73.46h-18.87v-69.79c0-14.9-7.06-22.35-21.12-22.35-8.92,0-16.17,2.79-21.76,8.28-5.64,5.54-8.38,13.87-8.38,24.94v58.91h-18.87V40.44h17.64v15c7.65-11.76,19.5-17.64,35.48-17.64l-.05-.05Z"/>
    </defs>
    <clipPath id="N_Mask_Path">
      <use xlink:href="#N_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="N_Path"
      clip-path="url(#N_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M821.87,40.44v105.85l2.3-74.42s9.52-24.12,36.76-26.19c27.23-2.07,31.01,11.03,31.24,19.07s0,81.54,0,81.54"/>
  </g>

  <g id="O">
    <defs>
      <path
        id="O_Mask" 
        d="M979.4,148.99c-15.34,0-27.59-5.15-36.76-15.39-9.46-10.24-14.16-23.67-14.16-40.23s4.8-30.43,14.36-40.43c9.46-10.14,21.81-15.19,37.15-15.19s27.1,4.95,36.51,14.75c9.31,10.14,13.97,23.47,13.97,40.04s-4.8,30.24-14.36,40.63c-9.7,10.54-21.96,15.78-36.71,15.78v.05ZM979.4,133.21c10,0,17.84-3.72,23.62-11.08,5.78-7.35,8.63-17.25,8.63-29.55s-2.84-21.56-8.53-28.52-13.57-10.49-23.72-10.49-17.84,3.58-23.47,10.68-8.53,16.81-8.53,29.16,2.89,21.66,8.63,28.91,13.53,10.88,23.38,10.88Z"/>
    </defs>
    <clipPath id="O_Mask_Path">
      <use xlink:href="#O_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="O_Path"
      clip-path="url(#O_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M979.52,45.22c-28.99,0-41.41,23.46-41.41,48.14s19.73,49.72,41.36,49.72,40.88-19.5,40.88-49.72-11.84-48.14-40.83-48.14Z"/>
  </g>

  <g id="I">
    <defs>
      <path
        id="I_Mask" 
        d="M1076.09,20.49h-18.87V.2h18.87v20.29ZM1076.09,146.29h-18.87V40.44h18.87v105.9-.05Z"/>
    </defs>
    <clipPath id="I_Mask_Path">
      <use xlink:href="#I_Mask" overflow="visible"></use>
    </clipPath>

    <line 
      id="I_Path"
      clip-path="url(#I_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      x1="1066.65" y1=".2" x2="1066.65" y2="146.29"/>
  </g>

  <g id="S">
    <defs>
      <path
        id="S_Mask" 
        d="M1144.8,148.99c-26.95,0-41.66-12.06-44.11-36.12h18.03c.93,7.25,3.63,12.55,7.99,15.88s10.68,5.05,18.87,5.05,14.46-1.42,18.77-4.31,6.47-6.96,6.47-12.3c0-7.94-5.54-13.04-16.61-15.39l-21.37-4.51c-19.55-4.12-29.36-13.67-29.36-28.72,0-9.56,3.43-17.05,10.24-22.49,6.81-5.39,16.56-8.09,29.16-8.09s22.4,2.79,29.85,8.43c7.45,5.64,11.86,13.87,13.23,24.85h-18.67c-2.06-12.15-10.39-18.28-25.04-18.28s-21.37,4.66-21.37,13.97c0,3.68,1.27,6.66,3.77,8.92,2.55,2.25,6.76,4.02,12.64,5.24l20.53,4.51c10.68,2.45,18.52,6.13,23.47,10.98s7.5,11.17,7.5,18.97c0,10.39-3.87,18.57-11.71,24.5-7.79,5.98-18.62,8.92-32.44,8.92h.15Z"/>
    </defs>
    <clipPath id="S_Mask_Path">
      <use xlink:href="#S_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="S_Path"
      clip-path="url(#S_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
      d="M1110.4,112.87c.69,17.81,18.85,31.48,31.48,31.48s36.29-6.08,36.29-26.07-22.97-26.42-52.61-31.7c-29.63-5.28-9.88-41.35,2.07-41.35s38.59-1.15,44.34,10.34c5.74,11.49,6.2,16.77,6.2,16.77"/>
  </g>

  <g id="E2">
    <defs>
      <path
        id="E2_Mask" 
        d="M1304.66,90.91v6.96h-79.39c.25,11.47,3.19,20.29,8.82,26.37,5.64,6.08,13.33,9.12,23.18,9.12,14.65,0,24.41-7.06,29.36-21.12l17.25,2.06c-3.28,10.98-9.07,19.41-17.35,25.43-8.28,6.03-18.23,9.02-29.85,9.02-15.73,0-27.98-5.19-36.76-15.58-9.02-10.29-13.53-23.67-13.53-40.23s4.46-29.89,13.33-40.04c8.77-10,20.93-15,36.51-15s26.71,4.7,35.38,14.16,13.04,22.35,13.04,38.76v.1ZM1277.36,61.36c-5.34-5.34-12.3-7.99-20.93-7.99s-15.54,2.6-21.12,7.79c-5.49,5.34-8.77,13.08-9.85,23.18h61.55c-1.23-9.85-4.46-17.5-9.65-22.98Z"/>
    </defs>
    <clipPath id="E2_Mask_Path">
      <use xlink:href="#E2_Mask" overflow="visible"></use>
    </clipPath>

    <path 
      id="E2_Path"
      clip-path="url(#E2_Mask_Path)"
      fill ="none"
      class="logo-path-mask"
      stroke="#FFFFFF"
      stroke-width="32"
      stroke-miterlimit="10"
	  d="M1294.2,113.22c-6.12,11.49-16.92,31.01-37.59,28.94-20.67-2.07-47.09-20.5-42.73-50.22,4.36-29.72,14.83-48.83,39.92-48.12s41.86,21.8,43.01,37.93c1.15,16.12-12.18,8.5-28.26,9.19-16.08.69-54.67,1.01-54.67,1.01"/>
      
  </g>

</svg>
			<!-- <break>	
				<svg
					version="1.1"
					id="cn-logo-svg"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					viewBox="0 0 1333.5 196"
					enable-background="new 0 0 1333.5 196"
					class="title-svg w-[min(90rem,90vw)]"
					xml:space="preserve">
					<g id="M">
						<defs>
							<path
								id="M_x5F_Mask"
								d="M36.2,53.4v131.1H13.8V10h29.9l57.1,141.5h1.2L159.1,10H189v174.4h-22.4V53.4H165L112,184.4H90.8
			L37.7,53.4H36.2z">
							</path>
						</defs>
						<clipPath id="M_x5F_Mask_00000096770518741426740400000009189978287050670243_">
							<use xlink:href="#M_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<polyline
							id="M_x5F_Path"
							clip-path="url(#M_x5F_Mask_00000096770518741426740400000009189978287050670243_)"
							fill="none"
							stroke="#FFFFFF"
							class="logo-path-mask"
							stroke-width="32"
							stroke-miterlimit="10"
							points="
		25,187.2 27,10 101.4,184.4 174.3,10 182,186 	">
						</polyline>
					</g>
					<g id="A">
						<defs>
							<path
								id="A_x5F_Mask"
								d="M322,132.1h-74l-19.9,52.3h-23.9l67-174.4h27.4l67,174.4h-23.9L322,132.1z M285.9,36.7h-2l-28.4,75.5
			h58.8L285.9,36.7z">
							</path>
						</defs>
						<clipPath id="A_x5F_Mask_00000037678601105432892380000012529143596060145033_">
							<use xlink:href="#A_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<polyline
							id="A_x5F_Path"
							clip-path="url(#A_x5F_Mask_00000037678601105432892380000012529143596060145033_)"
							fill="none"
							stroke="#FFFFFF"
							class="logo-path-mask"
							stroke-width="32"
							stroke-miterlimit="10"
							points="
		217.9,191 284.9,10 329,119.7 358.5,187.5 329,119.7 245.7,119 	">
						</polyline>
					</g>
					<g id="J">
						<defs>
							<path
								id="J_x5F_Mask"
								d="M378.3,123.4h22.4c0,14.5,2.4,25.2,7.2,32.1c4.8,7,12.7,10.5,23.7,10.5s18.9-3.4,23.8-10.3
			c4.9-6.9,7.4-17.6,7.4-32.3V10h22.4v113.4c0,42.5-17.9,63.8-53.6,63.8C396.1,187.2,378.3,165.9,378.3,123.4z">
							</path>
						</defs>
						<clipPath id="J_x5F_Mask_00000119094009115737901400000004815366034736149687_">
							<use xlink:href="#J_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<path
							id="J_x5F_Path"
							clip-path="url(#J_x5F_Mask_00000119094009115737901400000004815366034736149687_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							d="
		M387.8,120c0,0,4.7,64.5,44,58.3C471,172,474,141,474,141V10">
						</path>
					</g>
					<g id="E">
						<defs>
							<path id="E_x5F_Mask" d="M626.8,164.5v19.9H509.2V10h117.6v19.9h-95.2v57.3h83v19.9h-83v57.3H626.8z"></path>
						</defs>
						<clipPath id="E_x5F_Mask_00000098198300135129560250000010768648456595972771_">
							<use xlink:href="#E_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<polyline
							id="E_x5F_Path"
							clip-path="url(#E_x5F_Mask_00000098198300135129560250000010768648456595972771_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							points="
		628,19.3 521.3,19.3 521.3,97.2 623,94.3 521.3,97.2 521.3,178.7 629,178.7 	">
						</polyline>
					</g>
					<g id="S">
						<defs>
							<path
								id="S_x5F_Mask"
								d="M724,86.7c18.9,3.7,32.8,9.6,41.7,17.7c8.9,8.1,13.3,19.1,13.3,32.9c0,16.3-6.1,28.7-18.2,37.1
			c-12.1,8.5-27.7,12.7-46.8,12.7c-8.8,0-17.1-0.9-24.9-2.6c-7.8-1.7-15-4.5-21.7-8.3c-6.6-3.8-11.9-9.1-15.8-15.8
			c-3.9-6.7-5.9-14.6-5.9-23.5v-1.7h23.7v1.2c0,19.8,14.9,29.7,44.6,29.7c12.3,0,22.3-2.3,29.9-7c7.6-4.6,11.5-11.7,11.5-21.2
			c0-8-2.7-14.1-8-18.4c-5.3-4.3-15-8-29.2-11l-19.9-4.2c-31.9-6.8-47.8-22.8-47.8-48.1c0-15,5.8-26.8,17.4-35.6
			c11.6-8.8,26.2-13.2,43.9-13.2c20.3,0,35.8,4.4,46.6,13.3c10.8,8.9,16.2,21,16.2,36.3v1.2h-23.9v-1c0-9-3.2-16-9.7-21.1
			c-6.5-5.1-15.9-7.6-28.4-7.6c-11.5,0-20.7,2.4-27.8,7.2c-7.1,4.8-10.6,11.4-10.6,19.7c0,8.6,2.7,15,8,18.9c5.3,4,13.1,7,23.4,9
			L724,86.7z">
							</path>
						</defs>
						<clipPath id="S_x5F_Mask_00000048492160201443585990000017206624758945857183_">
							<use xlink:href="#S_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<path
							id="S_x5F_Path"
							clip-path="url(#S_x5F_Mask_00000048492160201443585990000017206624758945857183_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							d="
		M765.2,63c0,0-3.5-48.4-52.8-43.7s-50.3,19.2-50.3,19.2S652,69,681,88c0,0,58,12,68,19s21,10,16,34s-4,27-25,32s-68.5-1-73.2-7
		s-6.4-33-6.4-33">
						</path>
					</g>
					<g id="T">
						<defs>
							<path id="T_x5F_Mask" d="M788,29.9V10h134.1v19.9h-55.8v154.5h-22.4V29.9H788z"></path>
						</defs>
						<clipPath id="T_x5F_Mask_00000116951300969580086640000012441786884314804641_">
							<use xlink:href="#T_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<polyline
							id="T_x5F_Path"
							clip-path="url(#T_x5F_Mask_00000116951300969580086640000012441786884314804641_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							points="
		855,185 855,18.9 787,19.3 924,18.9 	">
						</polyline>
					</g>
					<g id="I">
						<defs>
							<path id="I_x5F_Mask" d="M960.9,10v174.4h-22.4V10H960.9z"></path>
						</defs>
						<clipPath id="I_x5F_Mask_00000171721944521342947480000007976815643322046373_">
							<use xlink:href="#I_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<line
							id="I_x5F_Path"
							clip-path="url(#I_x5F_Mask_00000171721944521342947480000007976815643322046373_)"
							fill="none"
							stroke="#FFFFFF"
							class="logo-path-mask"
							stroke-width="32"
							stroke-miterlimit="10"
							x1="949.7"
							y1="9"
							x2="949.7"
							y2="187">
						</line>
					</g>
					<g id="C">
						<defs>
							<path
								id="C_x5F_Mask"
								d="M1137.9,74.3h-23.4c-1.7-14.5-7.2-25.7-16.7-33.8c-9.5-8.1-21.6-12.1-36.4-12.1
			c-16.9,0-30.4,6.2-40.4,18.7c-10,12.5-15,29.6-15,51.3c0,21.1,5,37.6,15,49.6c10,12,23.4,17.9,40.4,17.9
			c13.3,0,24.7-3.7,34.3-11.1c9.6-7.4,15.4-17.6,17.6-30.5h23.9c-2.7,19.8-10.8,35.2-24.4,46.2c-13.6,11-30.7,16.6-51.3,16.6
			c-24.4,0-43.7-8.1-57.8-24.2c-14.1-16.1-21.2-37.6-21.2-64.5c0-27.6,7.1-49.7,21.3-66.3c14.2-16.6,33.4-24.9,57.7-24.9
			c22.3,0,40,5.9,53.3,17.6C1128,36.5,1135.7,53,1137.9,74.3z">
							</path>
						</defs>
						<clipPath id="C_x5F_Mask_00000062872912612276495140000008034629371513245619_">
							<use xlink:href="#C_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<path
							id="C_x5F_Path"
							clip-path="url(#C_x5F_Mask_00000062872912612276495140000008034629371513245619_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							d="
		M1129.3,79c0,0-14.9-61.1-63.1-60.1C1018,20,1001,53,1001,53s-12.3,34.3-7.6,59.2s25.5,53.8,25.5,53.8s44.8,15.4,51,12.7
		s54.7-23.3,59.5-60.7">
						</path>
					</g>
					<g id="O">
						<defs>
							<path
								id="O_x5F_Mask"
								d="M1178.6,32.2c14.5-16.6,34.3-24.9,59.4-24.9c25.1,0,44.8,8.3,59.1,24.9c14.3,16.6,21.4,38.7,21.4,66.3
			c0,26.9-7.1,48.4-21.4,64.5c-14.3,16.1-34,24.2-59.1,24.2c-25.1,0-44.9-8.1-59.4-24.2c-14.5-16.1-21.8-37.6-21.8-64.5
			C1156.8,70.9,1164.1,48.8,1178.6,32.2z M1238,166c17.6,0,31.5-6,41.6-17.9c10.1-12,15.2-28.5,15.2-49.6c0-21.8-5.1-38.9-15.2-51.3
			c-10.1-12.5-24-18.7-41.6-18.7c-17.6,0-31.6,6.2-42,18.7c-10.4,12.5-15.6,29.6-15.6,51.3c0,21.1,5.1,37.6,15.5,49.6
			C1206.2,160,1220.3,166,1238,166z">
							</path>
						</defs>
						<clipPath id="O_x5F_Mask_00000011747446453532554160000011773768268075636659_">
							<use xlink:href="#O_x5F_Mask" overflow="visible"></use>
						</clipPath>

						<path
							id="O_x5F_Path"
							clip-path="url(#O_x5F_Mask_00000011747446453532554160000011773768268075636659_)"
							fill="none"
							class="logo-path-mask"
							stroke="#FFFFFF"
							stroke-width="32"
							stroke-miterlimit="10"
							d="
		M1180.5,46c0,0-11.5,23-11.5,36s4.5,48.6,5.7,53.8s13.1,24.2,23.7,30.2s36.1,11.7,47.3,8.9c11.2-2.9,41-11.3,49.1-22.1
		s13.9-49,14-55.9C1309,90,1306,61,1300,51s-26.6-33.4-34.8-31.7c-8.2,1.7-41.9-9.5-48.5-0.4C1210,28,1180.5,46,1180.5,46z">
						</path>
					</g>
				</svg> -->
			</div>
			<div class="flex flex-col items-center gap-5 text-center lg:gap-10">
				<div class="flex flex-col items-center justify-center gap-3 lg:col-start-1">
					<small>
						( <span class="scroll-text">
							<LinkBlend class="text-xs lg:text-lg" id="go-projects-button" isButton={true}>{t("hero.scroll")}</LinkBlend>
						</span> )
					</small>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.hero {
		padding-bottom: 0;
		position: relative;
		border-radius: inherit;
		overflow: hidden;
	}
	.hero > div {
		grid-column: 1 / span 4;
	}

	#hero .title-svg {
		opacity: 0;
	}

	/* Hero appearance */
	.hero h1,
	.hero h2,
	.hero h3 {
		margin: 0;
	}
	.hero h1 {
		margin: 0;
		position: relative;
		overflow: hidden;
	}
	.hero h1 > div {
		position: relative;
		margin: 0;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { SplitText } from "gsap/SplitText";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

	gsap.registerPlugin(ScrollTrigger, SplitText, ScrollToPlugin, DrawSVGPlugin);

	function init() {
		var goProjectsButton = document.getElementById("go-projects-button");
		goProjectsButton?.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: "#majestico-motto" });
		});

		gsap.set("#hero .title-svg", { opacity: 1 });

		gsap.timeline({
			defaults: {
				duration: 1,
				ease: "power2.out",
				stagger: 0.1,
			},
		}).from("#hero .title-svg .logo-path-mask", { drawSVG: 0 });

		// https://codepen.io/zank/pen/PoLLOXB?editors=0010
		// Show scroll title from the middle
		let split = new SplitText("#hero .scroll-text", { type: "chars" });
		gsap.timeline({
			defaults: {
				duration: 0.3,
			},
		}).from(split.chars, {
			opacity: 0,
			stagger: {
				from: "center", //try "center" and "edges"
				each: 0.05,
			},
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
